obj

**/Debug
**/bin
**/obj
**/node_modules
**/Logger

/Vol.Vue/node_modules
/Vue.Net/VOL.Web/bin
/Vue.Net/VOL.WebApi/bin
/Vue.Net/VOL.WebApi/Download/ExcelExport
/Vue.Net/VOL.WebApi/Download/Logger
/Vue.Net/VOL.WebApi/Download/SqlLog
/Vue.Net/VOL.WebApi/obj
/Vue.Net/.vs
/Vue.Net/VOL.Entity/bin
/Vue.Net/VOL.Entity/obj
/Vue.Net/VOL.AppManager/bin
/Vue.Net/VOL.AppManager/obj
/Vue.Net/VOL.Builder/obj
/Vue.Net/VOL.Builder/bin
/Vue.Net/VOL.Core/obj
/Vue.Net/VOL.Core/bin
/Vue.Net/VOL.Order/obj
/Vue.Net/VOL.Order/bin
/Vue.Net/VOL.System/obj
/Vue.Net/VOL.System/bin
/Vue.Net/VOL.Web/obj
/Vue.Net/VOL.WebApi/Download/*
/Vol.Vue/dist
/Vue.Net/VOL.WebApi/wwwroot/Upload/
/Vue.Net/VOL.Web
/开发版dev/Vue.NetCore/Vol.Vue/node_modules
/开发版dev/Vue.NetCore/Vue.Net/VOL.System/bin
/开发版dev/Vue.NetCore/Vue.Net/VOL.WebApi/bin
/开发版dev/Vue.NetCore/Vue.Net/VOL.Entity/bin
/开发版dev/Vue.NetCore/Vue.Net/VOL.Builder/bin
/开发版dev/Vue.NetCore/Vue.Net/VOL.Core/obj
/开发版dev/Vue.NetCore/Vue.Net/VOL.Builder/obj
/开发版dev/Vue.NetCore/Vue.Net/VOL.Entity/obj
/开发版dev/Vue.NetCore/Vue.Net/VOL.System/obj
/开发版dev/Vue.NetCore/Vue.Net/VOL.WebApi/obj
/开发版dev/Vue.NetCore/Vue.Net/VOL.Core/bin
node_modules
/TVC.Server/VOL.WebApi/obj
bin
bin
bin
bin
/TVC.Server/VOL.Builder/obj
/TVC.Server/VOL.Builder/bin
bin
.vscode
dist
.vs
.idea

/TVC.Server/VOL.Builder/bin
/TVC.Server/VOL.System/bin
/TVC.Server/VOL.Core/bin
/TVC.Server/VOL.Entity/bin
/TVC.Server/TVC.ApplicationForm/bin
/TVC.Server/TVC.Parameters/bin
/TVC.Server/TVC.Bop/bin
/TVC.Server/VOL.Entity/obj
/TVC.Server/TVC.ApplicationForm/obj
/TVC.Server/VOL.Builder/obj
/TVC.Server/VOL.WebApi/obj
/TVC.Server/VOL.Core/obj
/TVC.Server/TVC.Parameters/obj
/TVC.Server/TVC.Bop/obj
/TVC.Server/VOL.System/obj   
.vs
/TVC.Server/*.user
.vs
TVC.Server/VOL.WebApi/Log/syslog_20210520195617.txt
TVC.Server/VOL.WebApi/Log/
.vs
/TVC.Server/.vs
/TVC.Server/VOL.WebApi/Properties/PublishProfiles/FolderProfile.pubxml.user
/TVC.Server/VOL.WebApi/Properties/PublishProfiles/FolderProfile.pubxml
/TVC.Server/VOL.WebApi/VOL.WebApi.csproj.user
/TVC.Server/VOL.WebApi/wwwroot/TVCFile/20220526/Lesson_Learn_Issue
/TVC.Server/VOL.WebApi/wwwroot/TVCFile/Lesson_Learn_Issue20220527/7d890c0e-804e-8dab-3663-e600e4fb8436
/TVC.Server/packages

package-lock.json
yarn.lock

